---
import { getStrapiMedia } from '@/utils/strapi';
import { Image } from 'astro:assets';
import type { Logo } from '@/interfaces';

interface Props {
  logo: Logo;
}

const { logo }: Props = Astro.props;
const { url, alternativeText: alt } = logo.image;

const src = getStrapiMedia(url) ?? '';
---

<a href={logo.href}>
  <Image
    src={src}
    alt={alt || ''}
    width={100}
    height={150}
    quality={100}
    format='webp'
    loading='eager'
    decoding='sync'
    class='rounded-md stroke-white stroke-2'
  />
</a>
