---
import { Image } from 'astro:assets';
---

<a href='/'>
  <Image
    src='/rpm.png'
    alt='RPM'
    width={100}
    height={150}
    quality={100}
    format='webp'
    loading='eager'
    decoding='sync'
    class='rounded-md stroke-white stroke-2'
  />
</a>
