---
import type { Service } from '@/interfaces';
import ServiceCard from '../components/react/ServiceCard';
import Sectionhead from './sectionhead.astro';
import AstroServiceCard from './ServiceCard.astro';

interface Props {
  services: Service[];
  title: string;
  subtitle: string;
  slug?: string | undefined;
}

const { services, title, subtitle, slug } = Astro.props;
const pathname = Astro.url.pathname;

const isSlugInPath = slug ? pathname.includes(slug) : false;
---

{
  isSlugInPath ? (
    <div class='container p-4 mx-auto my-12'>
      <div class='grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8'>
        {services.map((service) => (
          <AstroServiceCard {service} />
        ))}
      </div>
    </div>
  ) : (
    <div class='mx-auto p-4 pt-16 lg:pt-32'>
      <Sectionhead level='h2'>
        <Fragment slot='subtitle'>{subtitle}</Fragment>
        <Fragment slot='title'>{title}</Fragment>
      </Sectionhead>
      <div class='container mx-auto my-12'>
        <div class='grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8'>
          {services.map((service, index) => (
            <ServiceCard
              client:visible
              service={service}
              animationDelay={index * 0.1}
            />
          ))}
        </div>
      </div>
    </div>
  )
}
