---
import Link from '@/components/ui/link.astro';
import PageLayout from '@/layouts/PageLayout.astro';
---

<PageLayout
  title='404: Digital Space Lost - Return to Known Cyberspace'
  description="Oops! This page doesn't exist or has relocated. Don't worry, we can help navigate you back. Return to the homepage or search for what you need."
  pageTitle='404: Looks like you got lost'
  subtitle="Looks like this page doesn't exist"
  whiteBG={true}
>
  <div class='flex w-1/3 mx-auto my-12'>
    <Link href='/' style='secondary'> Return Home </Link>
  </div>
</PageLayout>
