---
import { sizes, styles } from '@/styles/buttonStyles';
interface Props extends astroHTML.JSX.HTMLAttributes {
  href: string;
  size?: 'md' | 'lg';
  block?: boolean;
  style?: 'primary' | 'secondary' | 'plain' | 'animated';
  class?: string;
  isExternal?: boolean;
  rel?: string;
}

const {
  href,
  block,
  size = 'lg',
  style = 'plain',
  class: className,
  isExternal,
  ...rest
} = Astro.props;
---

<a
  href={href}
  target={isExternal ? '_blank' : '_self'}
  rel={isExternal ? 'noopener noreferrer' : ''}
  {...rest}
  class:list={[block && 'w-full', sizes[size], styles[style], className]}
>
  <slot />
</a>
