---
interface Props {
  href: string;
  size?: 'md' | 'lg';
  block?: boolean;
  style?: 'primary' | 'secondary' | 'plain';
  class?: string;
  [x: string]: any;
}

const {
  href,
  block,
  size = 'lg',
  style = 'plain',
  class: className,
  ...rest
} = Astro.props;

const sizes = {
  lg: 'px-5 py-2.5',
  md: 'px-4 py-2',
};

const styles = {
  primary:
    'sm:inline-block text-center w-full block font-semibold relative py-2 px-5 uppercase border-2 border-border cursor-pointer transition-shadow duration-300 ease-in-out shadow-[5px_5px_0_0] shadow-border text-sm lg:text-base bg-accent text-primary hover:shadow-none',
  secondary:
    'sm:inline-block text-center w-full block font-semibold relative py-2 px-5 uppercase border-2 border-border cursor-pointer transition-shadow duration-300 ease-in-out shadow-[5px_5px_0_0] shadow-border text-sm lg:text-base bg-white text-primary hover:shadow-none',
  plain:
    'text-primary hover:text-accent transition-all duration-200 ease-in-out',
};
---

<a
  href={href}
  {...rest}
  class:list={[block && 'w-full', sizes[size], styles[style], className]}
>
  <slot />
</a>
